*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: antiquewhite; */
}

.wrapper{
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  }
  .container{
      margin-top: 5%;
      width: 60%;
      height: 100%;
      background-color: bisque;
  }
  .form-data{
      position: relative;
      top: 5%;
      
      width: 60%;
      height: 50%;
      margin: 5%;
      background-color: white;
      font-size: 20px;
  }
  .input{
    font-size: 15px;
    border-radius: 5px;
  
  }