* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #f5f7fa 0%, #1363e4 100%);
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.container {
  width: 100%;
  max-width: 900px;
  background: linear-gradient(135deg, #ffffff 0%, #2a51ad 100%);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}


.search-bar {
  padding: 10px 15px;
  width: 250px;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid  black;
  border-radius: 10px;
  outline: none;
}

.search-btn {
  font-size: 15px;
  width: 80px;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  transition: background 0.3s;
}


.form-data {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 5px;
  padding-bottom: 30px;
}

.form-data label {
  grid-column: span 2;
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #555;
  margin-bottom: 2px;
}

.input {
  grid-column: span 2;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.1);
  outline: none;
}


.submit-btn {
  grid-column: span 2;
  padding: 12px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-btn:hover {
  background-color: #27ae60;
}

hr {
  margin: 40px 0;
  border: 0;
  border-top: 1px solid black ;
}


.table-container {
 
  margin-top: 20px;
  overflow-x: auto;
 border-radius: 8px;
  border: 1px solid black;
}

table {
  width: 100%;
  /* border-collapse: collapse; */
  text-align: left;
    background-color: #f5f7fa; 
}

thead th {
  
  color: #333;
  font-weight: 600;
  padding: 15px;
  border-bottom: 2px solid rgb(174, 158, 158);
}

tbody td {
  padding: 5px;
  border-bottom: 1px solid #f0f0f0;
  color: #444;
}



tbody tr:hover {
  background-color: rgb(32, 206, 102);
  cursor: default;
  transition: background-color 0.2s;
}


.edit-btn {
  padding: 6px 12px;
  margin: 0 5px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: orange;
  cursor: pointer;
  font-size: 14px;

}


.delete-btn {
  padding: 6px 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: black;
  cursor: pointer;
  font-size: 14px;
}

.lable-date {

  margin-left: 12px;
  margin-right: 12px;
  font-size: 16px;
  font-weight: 700;
  color: #555;
  margin-bottom: 2px;
}

.input-interval {
  width: 15%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search-btn{
  background-color: black;
  cursor: pointer;
  margin-left: 2px;
  border-radius: 40px;

}

h1{
  text-align: center;
  margin-bottom: 20px;
}